<!DOCTYPE html>
<html>
	<head>
		<title>Movie Tracker</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<style>
			h1, h2 {
				font-weight: bold;
			}
			
			ul {
				list-style-type: none;
				padding: 0;
			}
			
			li {
				display: inline-block;
				margin: 0 10px;
			}
			
			a {
				color: #42b983;
			}
			
			.logo {
				width: 50px;
			}
			
			.hide {
				display: none;
			}
		</style>
	</head>
<body>
	<div id="app">

		<h1 v-html="heading"></h1>
		<form v-on:submit.prevent="processData('token')">

			<p>
				<label for="movieName">Movie name</label> <input type="text"
					name="movieName" id="movieName" v-model.lazy="form.movieName">
			</p>

			<p>
				<label for="genre">Genre</label> <input type="text" name="genre"
					id="genre" v-model="form.genre">
			</p>

			<p>
				<label for="yearReleased">Year Released</label> <input type="text"
					name="yearReleased" id="yearReleased" v-model="form.yearReleased">
			</p>

			<p>
				<label for="runtime">Runtime</label> <input type="text"
					name="runtime" id="runtime" v-model="form.runtime">
			</p>

			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
		<h2>In-browser form data</h2>

		<p>{{form.movieName}}</p>

		<p>{{form.genre}}</p>
		<p>{{form.yearReleased}}</p>
		<p>{{form.runtime}}</p>

		<h2>API calls</h2>
		<p>Fetched Data raw: {{ fetchedData }}</p>
		<p>
			Fetched Data HTML: <span v-html="fetchedData"></span>
		</p>
	</div>

	<script>
    var app = new Vue({
      el: '#app',
      data: {
          heading: '<i>Enter a new movie</i>',
          options: [
              'Action',
              'Drama',
              'Comedy'
          ],
          form : {
              movieName: 'Predator',
              genre: 'Action',
              yearReleased: '1987',
              runtime: 107
          },
          fetchedData : "nothing fetched yet",
          getUrl: "http://localhost:8080/movieTracker/api/v1/movies",
          postUrl: "http://localhost:8080/movieTracker/api/v1/movies"
      },
        methods:  {
            processData: function(token, event){
                console.log(this.form);
                var that = this;
                axios.post(this.postUrl, {name: this.form.name})
                    .then(function(response) {
                        console.log('result', response)
                        that.fetchedData = response.data.body;
                })
            .catch(function(err){
                    console.log(err);
                })
            }
        },
        created () {
            var that = this;
            axios.get(this.getUrl)
                .then(function (response) {
                    that.fetchedData = response.data.body
                })
        }
    })
  </script>

</body>
</html>
